@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;

    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;

    --font-primary: 'Inter', sans-serif;
    --font-weight-title: 600;
    --font-weight-text: 400;
  
    --font-size-title-1: clamp(1.625rem, .472rem + 4.341vw, 3.25rem);
    --font-size-title-2: clamp(1.25rem, 0.363rem + 3.339vw, 2.5rem);
    --font-size-title-3: clamp(1rem, 0.29rem + 2.671vw, 2rem);
    --font-size-text-1: clamp(0.85rem, 0.182rem + 1.669vw, 1.25rem);
    --font-size-text-2: clamp(0.625rem, 0.27rem + 1.336vw, 1.125rem);
    --font-size-text-3-4: clamp(0.625rem, 0.359rem + 1.002vw, 1rem);
    

    --line-height-title-1: 140%;
    --line-height-title-2-3: 160%;
    --line-height-text: 150%;

}

body{
    background-color: var(--gray-2);
    font-family: var(--font-primary);
}
