@import url(./globalStyles.css);

.header__container,
.banner__container, 
.about__content,
.faq__content, 
.comments__content{
    width: 75%;
    margin: 0 auto;
    padding: clamp(2.188rem, 0.635rem + 5.843vw, 4.375rem) 0;
}

.header__container{
    padding: 1%;
    background-color: var(--gray-1);
    border-bottom: .125rem solid var(--brand-1);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header__content{
    display: flex;
    justify-content: space-around;
}

.header__image{
    width: 12.5rem;
}

button{
    align-items: center;
    padding: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem) 
             clamp(1rem, 0.29rem + 2.671vw, 2rem);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-text-3-4);
    color: var(--gray-7);
    line-height: var(--line-height-text);
}

.header__button--default{
    background-color: transparent;
    border: .0625rem solid var(--gray-7);
}

.banner__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.75rem;
    text-align: center;
}

.banner__title{
    font-size: var(--font-size-title-1);
    font-weight:  var( --font-weight-title);
    line-height: var(--line-height-title-1);
    color: var(--gray-6);
}

em{
    color: var(--brand-1);
}

.banner__text{
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
}

.banner__button--brand-default{
    background-color: var(--brand-1);
    border: .0625rem solid var(--brand-1);
}

.about__container{
    background-color: var(--gray-1);
    display: flex;
    gap: 56px;
    justify-content: space-around;
}

.about__content{
    display: flex;
    justify-content: space-around;
    gap: 20rem;
}

.about__title{
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title-2-3);
    color: var(--gray-6);
}

.about__text{
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-5);
    text-align: justify;
    width: 36.25rem;
}

.faq__content{
    display: flex;
    gap: 3.5rem;
    justify-content: space-around;
}

.faq__info-container{
    display: flex;
    flex-direction: column;
    gap: 2.0625rem;
    height: fit-content;
    position: sticky;
    top: 170px;
}

.faq__info-title{
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title-2-3);
    color: var(--gray-6);
}

.faq__info-text{
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
    text-align: justify;
    max-width: 36.25rem;
}

.faq__button--brand-default{
    background-color: var(--brand-1);
    border: .0625rem solid var(--brand-1);
    align-self: baseline;
}

.faq__button--brand-default:hover{
    background-color: var(--brand-2);
    border: .0625rem solid var(--brand-2);
}

.faq__list{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

.faq__item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.625rem;
}

.item__title{
    font-size: var(--font-size-title-3);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title-2-3);
    color: var(--gray-6);
}

.item__text{
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
    text-align: justify;
    max-width: 36.25rem;
}

.comments__content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 85rem
}

.comments__info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2.1875rem;
    padding: clamp(2.5rem, 0.726rem + 6.678vw, 5rem) 
             clamp(1.625rem, 0.472rem + 4.341vw, 3.25rem);
    height: fit-content;
    background-color: var(--brand-1);
    margin-left: 5.375rem;
    position: sticky;
    top: 200px;
    max-width: 40%; 
}

.comments__title{
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title-2-3);
    color: var(--gray-7)
}

.comments__text{
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-7);
    text-align: justify;
}

.comments__list-container{
    display: flex;
    flex-direction: column;
    gap: 5.125rem;
    max-width: 50%; 
}

.item__info{
    width: 100rem;
    max-width: 100%;
}

.list__item{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.item__year{
    font-size: var(--font-size-text-3-4);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
}

.item__text-comments{
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
    text-align: justify;
}

.footer__image{
    background-color: var(--gray-1);
    padding: clamp(1.563rem, 0.454rem + 4.174vw, 3.125rem);
    text-align: center;

}

.modal__container{
    background-color: var(--gray-2);
    border: .125rem solid var(--brand-1);
    display: flex;
    flex-direction: column;
    gap: 1.9375rem;
    padding: 2.5rem 1.75rem;
    width: 31.5rem;
}

.modal__top{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.modal__title{
    font-size: var(--font-size-title-3);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title-2-3);
    color: var(--gray-7);
}

#closeModal{
    background-color: var(--gray-3);
    border: none;
    padding: .0625rem;
    border-radius: .25rem;
    width: 2.375rem;
    height: 2rem;
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title-2-3);
    color: var(--gray-4);
}

.modal__text{
    font-size: var(--font-size-text-3-4);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
    text-align: justify;
}

.modal__input{
    box-sizing: border-box;
    height: 3.75rem;
    padding: .875rem 1.25rem;
    border: .0625rem solid var(--gray-1);
    background-color: var(--gray-1);
    font-size: var(--font-size-text-1);
    font-weight: var(--font-weight-text);
    line-height: var(--line-height-text);
    color: var(--gray-4);
}

.modal__button{
    height: 3.75rem;
    padding: 0 2rem;
    background-color: var(--brand-1);
    border: .0625rem solid var(--brand-1);
    text-align: center;
}

.modal__button:hover{
    background-color: var(--brand-2);
    border: .0625rem solid var(--brand-2);
}

dialog::backdrop{
    background-color: rgba(0,0,0, 0.8);
}

@media (min-width: 769px) and (max-width: 1024px){
    .about__content {
        gap: 10rem;
    }

    .item__info {
        width: 40rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .list__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .comments__info-container {
        margin-left: 0;
    }

    .comments__content{
        gap: 2rem;
    }

    .item__text-comments {
        width: 22.5rem;
    }
}

@media (max-width: 768px){
    .about__content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;

    }

    .about__text {
        width: fit-content;
    }

    .faq__content {
        flex-direction: column;
        gap: 2rem;
    }

    .faq__info-container {
        align-items: center;
        position: static;
    }

    .faq__button--brand-default {
        width: 100%;
    }

    .faq__list {
        gap: 2rem;
    }

    .comments__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .comments__info-container {
        position: static;
        max-width: 100%;
        margin-left: 0;
    }

    .comments__list-container {
        max-width: 100%;
        gap: 2rem;
    }
    
    .item__info {
        width: 40rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .list__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .item__text-comments {
        width: 100%;

    }
}

@media (max-width: 425px){
    .header__content{
        justify-content: flex-start;
    }

    .header__button--default{
        display: none;
    }

   .about__content{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
   }

   .about__text{
    width: 100%;
   }
}
